.main-div {
  background: url("https://images.hdqwalls.com/download/star-wars-the-rise-of-skywalker-new-5k-rh-1920x1080.jpg")
    no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  min-height: 100vh;
}

.spacer {
  flex-grow: 1;
}

.main-content {
  padding: 1%;
}

.MuiTabs-flexContainer.MuiTabs-flexContainerVertical {
  margin: 8px;
}

.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.Mui-selected {
  color: #fff !important;
  font-family: "Abril Fatface", cursive;
  font-weight: bold;
  font-size: 16px;
}

.MuiTab-root {
  color: #fff !important;
  font-family: "Abril Fatface", cursive;
  font-size: 16px;
}

.MuiTabs-indicator {
  background-color: #fff !important;
}


.css-35zqo5-MuiTabs-root {
  min-width: fit-content;
}

.css-46bh2p-MuiCardContent-root {
  padding: 16px;
  min-height: fit-content;
  height: 190px;
}

.MuiGrid-root.MuiGrid-container > .MuiGrid-root.MuiGrid-item > .error-message {
  font-family: "Abril Fatface", cursive !important;
  font-size: 30px !important;
  color: #fff;
  margin: 60px 40px;
}
 
.MuiGrid-root.MuiGrid-container > .MuiGrid-root.MuiGrid-item
  > .loading-message {
  font-family: "Abril Fatface", cursive !important;
  font-size: 30px !important;
  color: #fff;
  margin: 60px 40px;
}

.MuiRating-root.MuiRating-sizeSmall.MuiRating-readyOnly {
  top: 4px;
  color: blue;
}